
div {
    margin: 50px;
}
.bg {
   border: 10px solid hsla(0, 0%, 100%, .5);
   background: white;
   background-clip: padding-box;
}
.more {
    background: yellowgreen;
    box-shadow: 0 0 0 10px #655,
                0 0 0 15px deeppink,
                0 2px 5px 15px rgba(0, 0, 0, .6);
}
.moreoutline {
    background: yellowgreen;
    border: 10px dotted white;
    outline: 5px solid black;
}
.bgposition {
    padding: 10px;
    background: url(fish.png) no-repeat #655 bottom right;
    background-origin: content-box;
}
.bgcalc {
    background: url(fish.png) no-repeat #655;
    background-position: calc(100% - 20px) calc(100% - 10px);
}
.bordercl {
    background: #655;
    padding: .8em; 
}
.bordercl > div {
    margin: 0;
    background: tan;
    border-radius: .8em;
    padding: .8em;
}
.borderinset {
    background: tan;
    border-radius: .8em;
    box-shadow: 0 0 0 .6em #655;
    padding: 1em;
    outline: .6em solid #655;
}
.gradient {
    height: 100px;
    background: linear-gradient(#fb3 50%, #58a 50%);
    background-size: 100% 30px;
}
.vergradient {
    height: 100px;
    background: linear-gradient(to right, #fb3 50%, #58a 50%);
    background-size: 30px 100%;
}
.xgradient {
    height: 100px;
    background: linear-gradient(45deg, #58a 25%, #fb3 0, #fb3 50%, #58a 0, #58a 75%, #fb3 0);
    background-size: 30px 30px;
}
.wellxgradient {
    height: 100px;
    background: repeating-linear-gradient(60deg, #58a 0, #58a 15px, #fb3 0, #fb3 30px);
}
.wggradient {
    height: 100px;
    background: white;
    background-image: linear-gradient(90deg, rgba(200, 0, 0, .5) 50%, transparent 0),
                        linear-gradient(rgba(200, 0, 0, .5) 50%, transparent 0);
    background-size: 30px 30px;
}
.bluegrandient {
    height: 200px;
    background: #58a;
    background-image: linear-gradient(white 2px, transparent 0),
                        linear-gradient(90deg, white 2px, transparent 0),
                        linear-gradient(hsla(0, 0%, 100%, .2) 1px, transparent 0),
                        linear-gradient(90deg, hsla(0, 0%, 100%, .2) 1px, transparent 0);
    background-size: 75px 75px, 75px 75px, 15px 15px, 15px 15px;
}
.circlebg {
    height: 100px;
    background: #655;
    background-image: radial-gradient(tan 30%, transparent 0),
                        radial-gradient(tan 30%, transparent 0);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
}
.cheekgra {
    height: 100px;
    background: #eee;
    background-image: linear-gradient(45deg, #bbb 25%, transparent 0),
                        linear-gradient(45deg, transparent 75%, #bbb 0),
                        linear-gradient(45deg, #bbb 25%, transparent 0),
                        linear-gradient(45deg, transparent 75%, #bbb 0);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px, 15px 15px, 30px 30px;
}